body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url("./components/background.jpg");
  height: 100vh;
  width: 100%;
  -webkit-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}